COMPOSE_PROJECT_NAME=football-gto
SUBNET=172.18.10.48/28
APP_DOMAIN=gto.ekb.football.test
LOCAL_USER_ID=1000
LOCAL_GROUP_ID=1000
TZ="Asia/Yekaterinburg"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=football_gto
POSTGRES_PORT=5432
