# Виртуальные окружения
venv/
.venv/
env/

# Кэшированные файлы
__pycache__/

# Файлы IDE
.idea/
.vscode/

# Секреты и переменные окружения
.env
.env.*
secrets.toml

# Временные файлы
*.log
*.swp

# Файлы сборки
build/
dist/
*.egg-info/

# Файлы блокировки окружений (например, для uv)
uv.lock